<template>
  <div>
    <el-button v-waves type="primary" @click="test">
      退出
    </el-button>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { loginOut } from '@/api/app';

@Component
export default class Home extends Vue {
  test() {
    loginOut();
  }
}
</script>
